.header{
	background-image: url("./images/bg.jpeg");
	background-repeat: no-repeat;
	color: white;
}
.bg-light{
 	background-color: transparent !important;
 	color: white;
}
.imagen{
	max-height: 80%
}
.nav-inverse .nav li a{
	color: white;
}

.footer{
	background-color: black;
	color: white;
}